---
export interface Props {
	title: string;
    price: number;
	description: string;
	src: string;
    id: string;
}

const { src, title, description } = Astro.props;
---

<div>
    <h1>{title}</h1>
    <p>{description}</p>
    <img src={src} alt={title} />
</div>
